/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image {
    width: 200px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 10px;
    border: 2px solid #ccc;
}

#drag1 { background-image: url("https://picsum.photos/id/237/200/300"); }
#drag2 { background-image: url("https://picsum.photos/seed/picsum/200/300"); }
#drag3 { background-image: url("https://picsum.photos/200/300?grayscale"); }
#drag4 { background-image: url("https://picsum.photos/200/300"); }
#drag5 { background-image: url("https://picsum.photos/200/300.jpg"); }
#drag6 { background-image: url("https://picsum.photos/id/102/200/300"); }

.selected {
    border: 5px solid rgb(0, 195, 255);
}
